---
layout: 2017_default
permalink: /agenda
title: Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

        <h2>Dia 1 (07/12/2018)</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time">Horário</th>
                    <th class="row-2 agenda-activity">Trilha 1</th> 
                    <th class="row-3 agenda-activity">Trilha 2</th> 
                </tr>
            </thead>
        {% for agenda in site.data.twenty_17.agendas_1 %}
            <tr>
                <td>{{ agenda.time }}</td>
                {% if agenda.event %}
                    <td colspan="2" style="text-align: center">{{ agenda.event.info }}</td>
                {% elsif agenda.keynote %}
                    <td colspan="2" style="text-align: center">{% if agenda.keynote.confirmed %}{{ agenda.keynote.info }}{% else %}A confirmar{% endif %}</td>
                {% else %}
                    <td>{% if agenda.speaker_1.confirmed %}{{ agenda.speaker_1.info }}{% else %}A confirmar{% endif %}</td>
                    <td>{% if agenda.speaker_2.confirmed %}{{ agenda.speaker_2.info }}{% else %}A confirmar{% endif %}</td>
                {% endif %}
            </tr> 
        {% endfor %}
        </table>

        <h2>Dia 2 (08/12/2018)</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time">Horário</th>
                    <th class="row-2 agenda-activity">Trilha 1</th> 
                    <th class="row-3 agenda-activity">Trilha 2</th> 
                </tr>
            </thead>
            {% for agenda in site.data.twenty_17.agendas_2 %}
            <tr>
                <td>{{ agenda.time }}</td>
                {% if agenda.event %}
                    <td colspan="2" style="text-align: center">{{ agenda.event.info }}</td>
                {% elsif agenda.keynote %}
                    <td colspan="2" style="text-align: center">{% if agenda.keynote.confirmed %}{{ agenda.keynote.info }}{% else %}A confirmar{% endif %}</td>
                {% else %}
                    <td>{% if agenda.speaker_1.confirmed %}{{ agenda.speaker_1.info }}{% else %}A confirmar{% endif %}</td>
                    <td>{% if agenda.speaker_2.confirmed %}{{ agenda.speaker_2.info }}{% else %}A confirmar{% endif %}</td>
                {% endif %}
            </tr> 
        {% endfor %}
        </table>
    </div>
