.agenda {
  table-layout: fixed;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;

  td {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  /* Column widths are based on these cells */
  .agenda-time {
    width: 10%;
  }
  .agenda-activity {
     width: 45%;
  }
  th, td {
    border: 1px solid #00283c;
    font-size: 120%;
  }
  th {
    background: #00283c;
    color: white;
    letter-spacing: 1px;
    text-align: center;
  }
  td {
    text-align: center;
    font-size: 110%;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-color: #00283c;
    }
  }
  td + td {
    text-align: left;
    padding-left: 10px;
  }
  .agenda-name {
      color: #00283c;
  }
  .agenda-title {
    color: #ff6738;
    font-weight: 700;
  }
}

@media screen and (max-width: 760px){
    .agenda {
        .agenda-time {
            width: 10%;
        }
        .agenda-activity {
            width: 45%;
        }
        td, th {
            font-size: 100%;
        }
        td {
            padding-left: 0px;
        }
        td + td {
            padding-left: 10px;
        }
    }
}

// Modal
.speaker-modal {
    .speaker-picture {
        max-width: 200px;
        max-height: 200px;
        display: block;
    }
}