<!-- Clients Aside -->
    
<aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Parceiros</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.agilealliance.org/pt/" class="portfolio-link" target="_blank" rel="external">
                        <img src="../../_2018_pages/images/agilealliance-brazil.png" class="img-responsive img-centered" alt="Agile Aliance Brazil">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.agilebrazil.com/" class="portfolio-link" target="_blank" rel="external">
                        <img src="../../_2018_pages/images/logoAgileBrazil.png" class="img-responsive img-centered" alt="Agile Brazil">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://agiletrendsbr.com/" class="portfolio-link" target="_blank" rel="external">
                        <img src="../../_2018_pages/images/agile-trends.png" class="img-responsive img-centered" alt="Agile Trends">
                    </a>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <a href="http://agilidade.org/" class="portfolio-link" target="_blank" rel="external">
                            <img src="../../_2018_pages/images/agilidade.jpg" class="img-responsive img-centered" alt="Comunidade Agilidade Brasil">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="http://www.phpsc.com.br/" class="portfolio-link" target="_blank" rel="external">
                            <img src="../../_2018_pages/images/phpsc.png" class="img-responsive img-centered" alt="Comunidade PHPSC">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="http://gutssc.wordpress.com/" class="portfolio-link" target="_blank" rel="external">
                            <img src="../../_2018_pages/images/TaSafo.png" class="img-responsive img-centered" alt="TaSafo">
                        </a>
                    </div>
                </div>
        </div>
    </aside>
