<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h3>Hotel Sesc Cacupé</h3>
                <address>
                    <p>
                        Estrada Haroldo Soares Glavan, 1670 - Cacupé <br>
                        Florianópolis/SC 88050-005
                    </p>
                </address>
            </div>
            <div class="col-sm-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3537.630098405828!2d-48.52566628448293!3d-27.54294882641735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9527479fdeadf8d5%3A0xffa53590f827f862!2sHotel+Sesc+Cacup%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1558038243656!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>