<section id="register" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Inscrições</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Em breve abriremos as inscrições. Aproveite e <a href="https://forms.gle/MreYfZ3sdhFAwEeg7" rel="no-follow"
                    target="_blank">submeta a sua palestra agora</a>!</p>
            </div>
        </div>
    </div>
</section>