<section id="register" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Inscrições</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Aproveite as inscrições <b>Super Early Bird</b> já estão abertas, nesta fase o ingresso para o evento custa apenas R$ 90,00*</p>
                <a href="https://inscricoes.agilebrazil.com/events/45/attendances/new" class="page-scroll btn btn-xl" rel="no-follow"
                    target="_blank">Inscrever-se</a>
                <p>
                    * As inscrições para estudantes tem o valor de R$ 90,00.<br>
                    As inscrições por empenho tem o valor de R$ 180,00
                </p>
            </div>
        </div>
    </div>
</section>