<!DOCTYPE html>
<html lang="pt-BR">

  {% include 2016_data/head.html %}
    <!--Remove image dragging -->
    <body id="page-top" class="index" ondragstart="return false;" ondrop="return false;">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGQCLDM"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include 2017_data/header-home.html %}

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Agile Floripa 2018<br></div>
                    <div class="intro-lead-in">Dias 07 e 08 de Dezembro de 2018</div>
                    <div class="intro-lead-in">Oceania Park Hotel & Convention Center</div>
                    <div class="intro-lead-in">Florianópolis/Santa Catarina</div>
                    <a class="btn btn-xl" href="https://inscricoes.agilebrazil.com/events/42" rel="external">Inscrições</a>
                </div>
            </div>
        </header>

        {% include 2018_data/about.html %}
        {% include 2018_data/speakers.html %}
        {% include 2017_data/about.html %}
        {% include 2018_data/sponsors.html %}
        {% include 2017_data/contact.html %}
        {% include 2016_data/footer.html %}
        {% include 2017_data/speakers_info.html %}
        {% include 2016_data/js.html %}

    </body>
</html>
