<!DOCTYPE html>
<html lang="pt-BR">
  {% include 2019_data/head.html %}
    <!--Remove image dragging -->
    <body id="page-top"  class="index" ondragstart="return false;" ondrop="return false;">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGQCLDM"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include 2019_data/header-home.html %}

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Agile Floripa 2019<br></div>
                    <div class="intro-lead-in">
                        <i class="fas fa-calendar-alt"></i>
                        Dias 08 e 09 de Agosto de 2019
                    </div>
                    <div class="intro-lead-in">
                        <i class="fas fa-map-marker-alt"></i>
                        SESC Cacupé, Florianópolis/Santa Catarina
                    </div>
                </div>
            </div>
        </header>

        {% include 2019_data/about.html %}
        {% include 2019_data/cfp.html %}
        {% include 2019_data/contact.html %}
        {% include 2016_data/footer.html %}
        {% include 2019_data/js.html %}

    </body>
</html>
